.content {
  max-width: rem(480px);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.itemtitle {
  color: light-dark(var(--mantine-color-black), var(--mantine-color-white));
  font-size: rem(44px);
  line-height: 1.2;
  font-weight: 900;
}

.supTitle {
  text-align: center;
  text-transform: uppercase;
  font-weight: 800;
  font-size: var(--mantine-font-size-xs);
  color: var(--mantine-color-blue-light-color);
  letter-spacing: rem(0.5px);
}

.title {
  line-height: 1;
  text-align: center;
  font-size: 20px;
}

@media (max-width: 480px) {
  .itemtitle {
    font-size: 24px;
  }
  .control {
    flex: 1;
  }
}

@media (max-width: 768px) {
  .content {
    max-width: 100%;
    margin-right: 0;
  }
}
